@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');

* { 
    margin: 0;
    padding: 0;
    font-family: inter;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

#home {
    background-color: #202124;
    height: 100vh;
}

.home-nav {
    height: 10vh;   
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 1.5rem;
    color: #B6B8BC;
    padding: 0px 5rem; 
}

.home-nav-menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 4rem;
}

.home-nav-menu-links {
    position: relative;
    text-decoration: none;
    color: #B6B8BC;
}

.home-nav-menu-links:after {
    content: '';
    position: absolute;
    background-color: rgb(210, 210, 210);
    height: 0.1875rem;
    width: 0;
    left: 0;
    bottom: -0.25rem;
    transition: 300ms ease;
    border-radius: 1rem;
}

.home-nav-menu-links:hover::after {
    width: 100%;
}

.home-nav-menu-links:hover {
    color: rgb(210, 210, 210);
    transition: 300ms ease;
}

.home-nav-logo {
    display: flex;
    justify-content: space-around;
}

.home-info-centerer{ 
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.home-info {
    display: flex;
    flex-direction: column;
    color: #B6B8BC;
    height: 22rem;
    width: 60rem;
    justify-content: space-around;
    align-items: left;
}

.home-title {
    position: relative;
    right: 0.4rem;
    font-size: 5rem;
}

.home-info-headings {
    font-size: 2.5rem;
}

.home-paragraph {
    font-size: 1.5rem;
}

#about {
    height: 100vh;
    background-color: #202124;
}

.home-paragraph-last, .home-title {
    color: #fff;
    text-shadow: 0 0 0.30rem #fff;
}