@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');

* { 
    margin: 0;
    padding: 0;
    font-family: inter;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 0.35vw;
    background-color: #202124;
}

::-webkit-scrollbar-thumb {
    background-color: #3C3C3C;
    border-radius: 1rem;
}

::-webkit-scrollbar-track {
    margin: 0.5vh 0;
}

#home {
    height: 100vh;
    background-color: #202124;
}


.home-nav {
    height: 10vh;   
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 1.5rem;
    color: #B6B8BC;
    padding: 0px 5rem; 
}

.home-nav-menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 4rem;
}

a {
    position: relative;
    text-decoration: none;
    color: #B6B8BC;
}

a:after {
    content: '';
    position: absolute;
    background-color: rgb(210, 210, 210);
    height: 0.1875rem;
    width: 0;
    left: 0;
    bottom: -0.25rem;
    transition: 300ms ease;
    border-radius: 1rem;
}

a:hover::after {
    width: 100%;
}

a:hover {
    color: rgb(210, 210, 210);
    transition: 300ms ease;
}

.home-nav-logo {
    display: flex;
    justify-content: space-around;
}


#about {
    height: 100vh;
    background-color: #202124;
}